/* CSS Module */

p {
  margin-bottom: 0 !important; 
}

pre {
  margin-bottom: 0 !important;
  padding-bottom: inherit !important;
  padding-top: inherit !important;
}

button {
    margin-left: 4px !important;
}

body {
    background: #333333 !important;
}
